.footer-container {
    width: 100%;
    position: relative;
    height: 300px;
    margin-top: 150px;
    background: #f4f6f8;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    height: 100px;
    width: 100%;
    background: url(../assets/wave.png);
    background-size: 1000px 100px;
}

.footer-container .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

.footer-container .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10;
    animation: animateWave_02 4s linear infinite;
}

.footer-container .wave#wave3 {
    z-index: 1000;
    opacity: 0.3;
    bottom: 15;
    animation: animateWave 4s linear infinite;
}

.footer-container .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20;
    animation: animateWave_02 4s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}

.social-icons {
    height: auto;
    width: 100%;
    background: linear-gradient(#3586ff, #3586ff, #428bf8);
    color: white;
    font-family: 'Segoe UI', sans-serif;
    padding: 30px 10px 10px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-column {
    flex: 1 1 180px;
    margin: 10px;
}

.footer-column:nth-child(1){
    margin-right: 120px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin: 6px 0;
}
.footer-column ul li:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 20px 10px 10px;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-bottom a {
    color: #fff;
    text-decoration: underline;
}

.footer-social-icons {
    margin-top: 10px;
}

.footer-social-icons a {
    color: white;
    font-size: 18px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-social-icons a:hover {
    color: #d1d1d1;
}
